<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
            
            <li class="nav-item">
                <a class="nav-link" style="font-weight: bold; font-size:xx-large;" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
            </li>
        </ul>
       
    </div>
</nav> -->

<nav class="navbar" data-bs-theme="white" style="background-color:rgb(101, 93, 190);">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-weight: bold;color: white;margin-left: 45%;font-size: 25;">Users</a>
      
        <input class="form-control me-2" type="text" placeholder="Search User By ID ..." aria-label="Search" style="width: 300px;font-weight:500;" [(ngModel)]="userId" (ngModelChange)="onUserIdChange()">
    </div>
  </nav>

