/* *{
    margin: 0%;
    padding: 0%;
}

h1{
    margin-left: 45%;
    color: white;
    padding-top:5px ;
}

#profileImg img{
    width: 17%;
    position: absolute;
    left: 42%;
}
#header{
    background-color: rgb(9, 9, 205);
    height: 50px;
}

#copyRights{
    position: absolute;
    top: 60%;
    left: 40%;
    color:  rgb(9, 9, 205);
    font-weight: bold;
} */





















